.windows_AnimateFromBottom {
	animation: slideInFromBottom linear;
	animation-duration: 200ms;
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
		position: sticky;
	}
	/* 25%{
    transform: translateY(75%);
  }
  50%{
    transform: translateY(50%);
  }
  75%{
    transform: translateY(25%);
  } */
	100% {
		transform: translateY(0%);
		display: absolute;
	}
}

.windows {
	background-image: url("../../../public/wp9378868.webp");
	background-size: cover;
}
