.ashutosh {
	background-image: url("../../../public/about/ashutosh.jpg");
	background-size: cover;
}
.santosh {
	background-image: url("../../../public/about/santosh.jpg");
	background-size: cover;
}
